/* Reset & Basic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  background-color: #8c85a9;
  color: #333;
}

/* Header and Navigation */
header {
  background-color: #d63031;
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Sections */
.section {
  padding: 40px 20px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(69, 146, 79);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #d63031;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}

Contact:hover {
  color: white;
}

/* Footer */
footer {
  background-color: #d63031;
  color: white;
  text-align: center;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

/* Responsive */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  form {
    width: 90%;
  }
}
