<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blood Bank</title>
    <link rel="stylesheet" href="/static/blood.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Gyanu Blood Bank</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>

          <li><a href="/About">About us</a></li>

          <li><a href="/Contact">Contact us</a></li>
          <li><a href="/donate">Donate</a></li>
        </ul>
      </nav>
    </header>
    <h1>Before you donate</h1>

    <ul>
      <li>
        <b>Eat and drink:</b>

        <p>
          Have a healthy meal within a few hours of your appointment, focusing
          on iron-rich foods, and drink plenty of water or sports drinks leading
          up to it.
        </p>
      </li>
      <li>
        <b>Get rest:</b>
        <p>Ensure you get a good night's sleep the night before.</p>
      </li>

      <li>
        <b>Bring ID: </b>
        <p>Bring your ID or driver's license for identification.</p>
      </li>

      <li>
        <b>Fill out paperwork:</b>
        <p>
          You will complete a health questionnaire and a private screening that
          includes a mini-physical to check your blood pressure, temperature,
          and hemoglobin levels.
        </p>
      </li>

      <li>
        <b>Check eligibility:</b>
        <p>
          There are general guidelines for eligibility, such as age (often 17 or
          16 with consent), weight (at least 110 pounds), and overall health.
        </p>
      </li>
    </ul>
    <h1>During the donation</h1>
    <ul>
      <li><b>The process:</b></li>
      <p>
        Relax for about 15 minutes in the refreshment area, where you will be
        offered a snack and a drink.
      </p>
      <li><b>Length of appointment:</b></li>
      <p>
        The entire experience typically takes about an hour, including
        registration, the screening, the donation, and the recovery period.
      </p>
      <li><b>Frequency: </b></li>
      <p>You can donate whole blood approximately every 8 weeks (56 days).</p>
      <p></p>
    </ul>

    <h1>After you donate</h1>
    <ul>
      <li><b>Rest and recover:</b></li>
      <p>
        Relax for about 15 minutes in the refreshment area, where you will be
        offered a snack and a drink.
      </p>
      <li><b>Follow instructions:</b></li>
      <p>
        A bandage will be placed on your arm, and you will receive instructions
        to follow.
      </p>
      <li><b>Avoid certain activities: </b></li>
      <p>
        For a few hours after donating, avoid heavy lifting, smoking, and
        strenuous activity.
      </p>
      <p></p>
    </ul>
    <p>{{ message }}</p>
  </body>
</html>
